:root {
  --primary-font-color: #333533;
  --secondary-font-color: #464946;
  --secondary-background-color: #e8eddf;
  --primary-brand-color: #cfdbd5;
  --primary-highlight-color: #f5cb5c;
}

body {
  background-color: var(--secondary-background-color);
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Kanit", sans-serif;
}

h3 {
  color: var(--secondary-font-color);
  font-weight: 600;
  font-size: 37px;
  letter-spacing: 10px;
}

h1 {
  font-weight: 700;
  line-height: 3.1rem;
  font-size: 60px;
  margin: 0;
  color: var(--primary-font-color);
}

h4 {
  line-height: 1rem;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  color: var(--primary-font-color);
}

h5 {
  text-align: center;
  margin: 0;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: #9dbeb9;
  background-color: var(--primary-font-color);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.h3logo {
  background-color: var(--secondary-background-color);
  padding: 20px 0px !important;
  margin: 0;
  text-align: left;
  margin-left: 20px;
}

.mainTitle {
  position: relative;
  left: 10%;
  top: 159px;
}

.mainSubTitle {
  position: relative;
  left: 10.1%;
  top: 153px;
}

.wrapper {
  overflow-x: hidden;
}

.headerParagraph {
  position: relative;
  left: 10.1%;
  top: 186px;
  max-width: 600px;
  font-family: "Lato", sans-serif;
  color: var(--primary-font-color);
  margin: 0;
}
.hero {
  background-color: var(--primary-brand-color);
  margin: 0;
  height: 600px;
}

.aboutKButton {
  color: var(--primary-font-color);
  border: 2px solid var(--primary-highlight-color);
  background-color: var(--primary-highlight-color);
  padding: 20px 40px;
  width: 300px;
  position: relative;
  top: 21px;
  font-family: "Lato", sans-serif;
  transition: all 120ms ease-in-out;
  font-weight: 600;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
}
.aboutKButton:hover {
  color: var(--primary-highlight-color);
  background-color: var(--primary-font-color);
  border: 2px solid var(--primary-font-color);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.03);
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.portfolioTitle {
  background-color: var(--primary-font-color);
  padding: 20px;
}

.bodyContent {
  margin: 0px;
  width: auto;
}

.containerOne {
  background-color: var(--primary-highlight-color);
  border-radius: 4px;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.hidden-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 30px;
}

.doubleImages {
  display: block;
  justify-content: center;
}

.firstRow {
  display: inline;
  margin: 0 auto;
}

.secretTitles {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  color: var(--primary-font-color);
  text-transform: capitalize;
  margin-top: 20px;
}

.weatherParagraph {
  text-align: center;
  margin-top: 20px;
  line-height: 1.4rem;
}

.weatherAppImage {
  display: block;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
}

.designAppImage {
  margin: 0 auto;
  margin-right: 30px;
  border-radius: 4px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.dictionaryAppImage {
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.designParagraph {
  text-align: center;
  margin-top: 20px;
  line-height: 1.4rem;
  margin-bottom: 20px;
  padding: 0px 20px;
}

.dictionaryParagraph {
  text-align: center;
  margin-top: 20px;
  line-height: 1.4rem;
  margin-bottom: 20px;
  padding: 0px 20px;
}

.secretTitlesTwo {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  color: var(--primary-font-color);
  text-transform: capitalize;
  margin-top: 0px;
}

.secretTitlesThree {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  color: var(--primary-font-color);
  text-transform: capitalize;
  margin-top: 40px;
}

.weatherButton {
  color: var(--primary-font-color);
  border: 2px solid var(--primary-brand-color);
  background-color: var(--primary-brand-color);
  padding: 20px 40px;
  width: 300px;
  font-family: "Lato", sans-serif;
  transition: all 120ms ease-in-out;
  font-weight: 600;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.weatherButton:hover {
  color: var(--primary-brand-color);
  background-color: var(--primary-font-color);
  border: 2px solid var(--primary-font-color);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.portfolioButtons {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.designButton,
.dictionaryButton {
  color: var(--primary-brand-color);
  border: 2px solid var(--primary-font-color);
  background-color: var(--primary-font-color);
  padding: 20px 40px;
  width: 300px;
  font-family: "Lato", sans-serif;
  transition: all 120ms ease-in-out;
  font-weight: 600;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  text-decoration: none;
}

.designButton:hover {
  color: var(--primary-font-color);
  background-color: var(--primary-highlight-color);
  border: 2px solid var(--primary-highlight-color);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.dictionaryButton:hover {
  color: var(--primary-font-color);
  background-color: var(--primary-highlight-color);
  border: 2px solid var(--primary-highlight-color);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

/*.dictionaryButton {
  margin-bottom: 60px;
}*/

.porth1,
.contacth1,
.abouth1 {
  line-height: 4rem;
  max-width: 600px;
}

.abouth4 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.7rem;
}

.aboutParagraph {
  font-size: 18px;
  max-width: 700px;
  margin: 0px;
  margin-right: 20px;
  height: 900px;
}

.profilePhoto {
  position: relative;
  left: 3%;
  top: 166px;
  border-radius: 6px;
  padding: 10px;
  background-color: #fff;
  margin-left: 20px;
}

.myWorkButton {
  position: relative;
  left: 0px;
  color: var(--primary-font-color);
  border: 2px solid var(--primary-highlight-color);
  background-color: var(--primary-highlight-color);
  padding: 20px 40px;
  width: 300px;
  font-family: "Lato", sans-serif;
  transition: all 120ms ease-in-out;
  font-weight: 600;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.myWorkButton:hover {
  color: var(--primary-brand-color);
  background-color: var(--primary-font-color);
  border: 2px solid var(--primary-font-color);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.portfolioHeadContainer {
  height: 350px;
}

.portfolio-container {
  margin: 0px 0px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.container {
  margin: 50px;
}

.projectTitles {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  color: var(--primary-font-color);
  text-transform: capitalize;
  margin-top: 10px;
}
.projectWorkImg {
  margin: 0px;
  width: 100%;
  border-radius: 6px;
}

.workButton {
  color: var(--primary-font-color);
  border: 2px solid var(--primary-brand-color);
  background-color: var(--primary-brand-color);
  padding: 20px 40px;
  width: 300px;
  font-family: "Lato", sans-serif;
  transition: all 120ms ease-in-out;
  font-weight: 600;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.workButton:hover {
  color: var(--primary-font-color);
  background-color: var(--primary-highlight-color);
  border: 2px solid var(--primary-highlight-color);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.workButtonContainer {
  display: flex;
  justify-content: center;
}

.workParagraph {
  font-size: 16px;
  text-align: center;
}

.contactHeadContainer {
  height: 400px;
  width: auto;
}

.contactLink {
  position: relative;
  left: 10.3%;
  top: 45px;
  line-height: 1rem;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: var(--primary-font-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-highlight-color);
  text-decoration: none;
}

.contactMe {
  margin-bottom: 50px;
  position: relative;
  left: 10.1%;
  top: 70px;
}

.contactContainer {
  height: 800px;
  text-align: left;
}

.footer {
  background-color: var(--primary-font-color);
  width: 100%;
  color: var(--primary-brand-color);
  padding: 30px;
  display: grid;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 70px;
}
.last-footer {
  background-color: #242524;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  color: #787d78;
  font-size: 13px;
  letter-spacing: 0.5px;
  padding-top: 30px;
}
.lastFooterLink {
  color: #787d78;
}

.lastFooterLink:hover {
  color: var(--primary-highlight-color);
  text-decoration: underline;
}

.footer-container-social {
  display: block;
  margin: 0 auto;
}
.footer-container-button {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.emailButton {
  color: var(--primary-font-color);
  border: 2px solid var(--primary-highlight-color);
  background-color: var(--primary-highlight-color);
  padding: 20px 40px;
  width: 300px;
  font-family: "Lato", sans-serif;
  transition: all 120ms ease-in-out;
  font-weight: 600;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.emailButton:hover {
  color: var(--primary-font-color);
  background-color: var(--primary-brand-color);
  border: 2px solid var(--primary-brand-color);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.weatherIcons {
  display: flex;
  justify-content: center;
  padding: 80px 0px;
}

.containerDeux {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
}

.containerThree {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
}

.designInformation,
.dictionaryInformation {
  padding: 0px 70px;
}

.secondSetIcons {
  display: flex;
  justify-content: center;
  padding: 0px;
}

.information-container {
  display: flex;
  justify-content: center;
}
.ddPortfolioButtons {
  margin-bottom: 40px;
}

.footer-container {
  background-color: #333533;
}

/*FONT AWESOME ICONS */
.fa-palette,
.fa-book-open {
  font-size: 350px;
  color: #333533;
  padding: 50px;
}

.fa-snowflake,
.fa-cloud,
.fa-sun {
  font-size: 250px;
  color: #333533;
}
.fa-github-alt,
.fa-instagram,
.fa-twitter {
  font-size: 45px;
  text-align: center;
  margin: 0px 20px;
  color: var(--primary-brand-color);
}

.fa-github-alt:hover,
.fa-instagram:hover,
.fa-twitter:hover {
  color: var(--primary-highlight-color);
  cursor: pointer;
}

/*NAVIGATION*/

.topMenu {
  background-color: #cfdbd5;
  padding: 0px 0px;
  width: 100%;
}

.topMenuIndex {
  background-color: var(--secondary-background-color);
  padding: 0px 0px;
  width: 100%;
}

.ulTopMenu {
  padding: 0;
  margin-top: 20px;
  margin-right: 70px;
}

.liTopMenu {
  display: inline;
  list-style: none;
  line-height: 43px;
  margin-left: 50px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  color: var(--secondary-font-color);
}

.topMenuLogo {
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.liTopMenu:hover {
  color: #62938c;
}

.active {
  color: #62938c;
  font-weight: 400;
}

@media (max-width: 576px) {
  .mainTitle,
  .mainSubTitle {
    justify-content: center;
    text-align: center;
    top: 60px;
    left: 0px;
    padding: 0px 30px;
  }
  h1 {
    line-height: 3.4rem;
  }
  h4 {
    line-height: 2rem;
    margin-bottom: 30px;
    font-size: 27px;
  }

  button {
    margin-top: 20px;
  }

  a {
    margin: 0px;
  }
  .hero {
    height: 520px;
  }

  .headerParagraph {
    font-size: 16px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    top: 60px;
    left: 0px;
    line-height: 1.4rem;
  }

  .containerOne {
    border-radius: 0px;
    height: 390px;
    padding: 40px 30px 10px 30px;
  }

  .hidden-container {
    display: block;
    margin: 0 auto;
  }

  .hiddenWords {
    display: block;
    margin: 0 auto;
  }

  .aboutKButton {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    width: 300px;
  }

  .weatherIcons {
    padding: 0px;
    display: none;
  }
  .PortfolioButtons {
    padding-bottom: 0px;
  }
  .footer-container {
    background-color: #333533;
  }

  .dictionaryButton {
    margin-bottom: 40px;
  }

  .footer {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .footer-container-button {
    margin-top: 20px;
  }

  .footer-para {
    font-size: 10px;
  }

  .liTopMenu {
    font-size: 14px;
    line-height: 0px;
    font-weight: 400;
    margin-left: 0px;
  }

  .topMenuLogo {
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 10px;
  }

  .ulTopMenu {
    margin-top: 10px;
  }

  .active {
    margin: 0px;
  }

  .linkSizeMenu {
    font-size: 12px;
    font-family: "Lato", sans-serif;
  }
}

@media (max-width: 1350px) {
  .hidden-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  .hiddenWords {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .designAppImage {
    max-width: 98%;
    height: auto;
    margin: 0 auto;
    margin-top: 25px;
  }

  .dictionaryAppImage {
    max-width: 98%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
  }

  .footer-container {
    background-color: #333533;
  }

  .footer {
    padding-bottom: 40px;
  }

  .liTopMenu {
    margin-left: 40px;
  }
}
