body {
  background-color: #e0e0e0;
}
h1 {
  background-color: black;
  color: #f0efef;
  text-align: center;
}

p {
  justify-content: block;
  margin: 20px auto;
  text-align: center;
  max-width: 500px;
}
